<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="row">

  <div class="col-6 col-lg-6 col-xlg-6">
      <multiple-date-picker
      [showDaysOfSurroundingMonths]="false"
      [matIcons]="true"
      [disallowBackPastMonths]="true"
      [disallowGoFuturMonths]="true"
      [dayClick]="false"
      [sundayFirstDay]="true"
      [month]="myMonth"
      [(ngModel)]="initialCount">
  </multiple-date-picker>
  </div>
  <div class="col-6 col-lg-6 col-xlg-6">
      <h4 class="card-title">Seleccione el día del mes qué desea marcar como día hábil para la planta.</h4>
      <br><br>
      <p-dropdown [options]="plants" [(ngModel)]="selectedPlant" optionLabel="name" [style]="{'minWidth':'200px'}" (onChange)="getBdays()"></p-dropdown>
      <br><br>
      <p-button label="Guardar" icon="fa fa-check" (onClick)="save()"></p-button>
  </div>

</div>
