<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-table #dt [columns]="cols" [value]="species" selectionMode="single" [(selection)]="selectedSpecie" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
    <ng-template pTemplate="caption">
        Lista de Productos
        <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="25" placeholder="Filtro" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                <ng-container *ngIf="!isBoolean(rowData[col.field])">
                    <span>{{rowData[col.field]}}</span>
                </ng-container>
                <ng-container *ngIf="isBoolean(rowData[col.field])">
                    <i *ngIf="rowData[col.field]===true" class="mdi mdi-check " style="color: #66bb6a"></i>
                    <i *ngIf="rowData[col.field]===false" class="mdi mdi-window-close " style="color: #f06292"></i>
                </ng-container>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Nuevo"></button>
        </div>
    </ng-template>
</p-table>

<p-dialog header="Detalle de Producto" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="600" dismissableMask="true">

    <div class="ui-g ui-fluid" *ngIf="specie">

        <form [formGroup]="specieForm" (ngSubmit)="save()">
        <div class="ui-g-12">
            <div class="ui-g-2">
                <label for="name">Nombre</label>
            </div>
            <div class="ui-g-6">
                <input pInputText type="text" formControlName="name" id="name" [(ngModel)]="specie.name" placeholder="Required" [class.ng-dirty]="specieForm.controls['name'].dirty" [class.ng-invalid]="!specieForm.controls['name'].valid"/>
            </div>
            <div class="ui-g-4">
                <p-message severity="error" text="Nombre es requerido" *ngIf="!specieForm.controls['name'].valid&&specieForm.controls['name'].dirty"></p-message>
            </div>
        </div>
        <!-- <div class="ui-g-12">
            <div class="ui-g-2">
                <label for="equip">Equipment</label>
            </div>
            <div class="ui-g-6">
              <p-dropdown [options]="equips" formControlName="equip" [(ngModel)]="specie.equip" optionLabel="name" ></p-dropdown>
            </div>
        </div> -->
        <div class="ui-g-12">
            <div class="ui-g-2">
                <label for="equips">Equipos</label>
            </div>
            <div class="ui-g-6">
                <p-multiSelect [options]="equips" [(ngModel)]="specie.equips" formControlName="equips" [panelStyle]="{minWidth:'12em'}" optionLabel="name" [class.ng-dirty]="specieForm.controls['equips'].dirty" [class.ng-invalid]="!specieForm.controls['equips'].valid"></p-multiSelect>
            </div>
            <div class="ui-g-4">
                <p-message severity="error" text="Equipos es requerido" *ngIf="!specieForm.controls['equips'].valid&&specieForm.controls['equips'].dirty"></p-message>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-2">
                <label for="brand">Activo</label>
            </div>
            <div class="ui-g-6">
                <p-checkbox [(ngModel)]="specie.active" formControlName="active" id="active" binary="true"></p-checkbox>
            </div>
            <div class="ui-g-4">
                <p-message severity="error" text="Activo es requerido" *ngIf="!specieForm.controls['active'].valid&&specieForm.controls['active'].dirty"></p-message>
            </div>
        </div>

        <div class="ui-g-12">

            <div class="ui-g-2"></div>
            <div class="ui-g-4">
                <button type="button" pButton icon="fa fa-close" (click)="delete()" [disabled]="newSpecie" label="Eliminar"></button>
            </div>
            <div class="ui-g-4">
                <button pButton type="submit" icon="fa fa-check" label="Guardar" [disabled]="!specieForm.valid"></button>
            </div>
            <div class="ui-g-2"></div>
        </div>
        </form>

    </div>

</p-dialog>
