
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-table #dt [columns]="cols" [value]="plants" selectionMode="single" [(selection)]="selectedPlant" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
    <ng-template pTemplate="caption">
        Listas de Plantas
        <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="25" placeholder="Filtro" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">

                <ng-container *ngIf="!isBoolean(rowData[col.field])">
                    <span>{{rowData[col.field]}}</span>
                </ng-container>
                <ng-container *ngIf="isBoolean(rowData[col.field])">
                    <i *ngIf="rowData[col.field]===true" class="mdi mdi-check " style="color: #66bb6a"></i>
                    <i *ngIf="rowData[col.field]===false" class="mdi mdi-window-close " style="color: #f06292"></i>
                </ng-container>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Nuevo"></button>
        </div>
    </ng-template>
</p-table>

<p-dialog header="Detalle de Planta" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="600" dismissableMask="true">
    <div class="ui-g ui-fluid" *ngIf="plant">

        <form [formGroup]="plantForm" (ngSubmit)="save()">
        <div class="ui-g-12">
            <div class="ui-g-2">
                <label for="name">Nombre</label>
            </div>
            <div class="ui-g-6">
                <input pInputText type="text" id="name" formControlName="name" [(ngModel)]="plant.name" placeholder="Required" [class.ng-dirty]="plantForm.controls['name'].dirty" [class.ng-invalid]="!plantForm.controls['name'].valid" />
            </div>
            <div class="ui-g-4">
                    <p-message severity="error" text="Name is required" *ngIf="!plantForm.controls['name'].valid&&plantForm.controls['name'].dirty" ></p-message>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-2">
                <label for="location">Ubicación</label>
            </div>
            <div class="ui-g-6">
                <input pInputText type="text" id="location" formControlName="location" [(ngModel)]="plant.location" placeholder="Required" [class.ng-dirty]="plantForm.controls['location'].dirty" [class.ng-invalid]="!plantForm.controls['location'].valid"/>
            </div>
            <div class="ui-g-4">
                    <p-message severity="error" text="Location is required" *ngIf="!plantForm.controls['location'].valid&&plantForm.controls['location'].dirty"></p-message>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-2">
                <label for="brand">Dumper</label>
            </div>
            <div class="ui-g-6">
                <p-checkbox [(ngModel)]="plant.dumper" formControlName="dumper" id="dumper" binary="true" ></p-checkbox>
            </div>


        </div>
        <div class="ui-g-12">
            <div class="ui-g-2">
                <label for="active">Activo</label>
            </div>
            <div class="ui-g-6">
                <p-checkbox [(ngModel)]="plant.active" formControlName="active" id="active"  binary="true" ></p-checkbox>

            </div>

        </div>
        <div class="ui-g-12">

                <div class="ui-g-2"></div>
                <div class="ui-g-4">
                    <button type="button" pButton icon="fa fa-close" (click)="delete()" [disabled]="newPlant" label="Eliminar"></button>
                </div>
                <div class="ui-g-4">
                    <button pButton type="submit" icon="fa fa-check" label="Guardar" [disabled]="!plantForm.valid"></button>
                </div>
                <div class="ui-g-2"></div>
            </div>
            </form>
    </div>
    <!-- <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer> -->
</p-dialog>
